@model Lunch_App.Models.LunchCreationVM

@{
    ViewBag.Title = "LunchConnect | New Lunch Group";
}

<h2>Make a new lunch plan!</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MeetingTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Choose the members of your lunch group:</div>
            <div class="col-md-10">
                @for (int i = 0; i < Model.Members.Count; i++)
                {
                    <span class="MemberToInvite">
                        @Html.HiddenFor(x => x.Members[i].Id)
                        @Html.CheckBoxFor(x => x.Members[i].IsChecked)
                        @Model.Members[i].Handle
                    </span>
                        <br />

                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Let's get to planning lunch!" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("LunchConnect Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
