@model Lunch_App.Models.IndexVM

@{
    ViewBag.Title = "Lunch App - by Kate";
}



<div class="btn btn-lg btn-success">
    @Html.ActionLink("Create New Lunch", "CreateLunch")
</div>

<div class="btn btn-lg btn-warning">
    @Html.ActionLink("Add a Resturant", "CreateResturant")
</div>

<div>Your Next lunch is at: @Model.NextLunch</div>

@if (Model.LunchReadyToPick.Count() != 0)
{
    foreach (var l in Model.LunchReadyToPick)
    {
        @Html.ActionLink("It's time to pick a place to go for lunch!", "PickLunch", new { Id = l })


        <br />
    }
}
<br />


<div>Waiting for surveys = <span> @Model.WaitingOnSurveys </span> </div>


@if (Model.OutstandingSurveys.Count() != 0)
{
    foreach (var s in Model.OutstandingSurveys)
    {
        @Html.ActionLink("You have an outstanding survey, click to fill it out and connect for lunch!", "EditSurvey", new { Id = s})


        <br/>
    }
}
<br />
<div>Your Lunches:</div>
@foreach (var l in Model.Lunches)
{
    <div>@l.MeetingDateTime</div>
}