@using Microsoft.Owin.Security.DataHandler.Encoder
@model IEnumerable<Lunch_App.Models.LunchDashboardVM>

@{
    ViewBag.Title = "LunchConnect | Dashboard";
}

<h2 class="col-md-8 col-md-offset-1">My Lunches</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="list-group">
            @foreach (var item in Model.OrderByDescending(x => x.MeetingTime))
            {
                <div class="list-group-item row">
                    @if (item.LunchToday)
                    {
                        <div class="pull-left"><span class="label label-primary">Today</span></div>
                    }
                    <div class="pull-right">
                        
                        @if (item.NeedsResponse)
                        {
                            <a class="btn btn-info btn-sm" href="/home/editsurvey/@item.SurveyId">Respond</a>
                        }
                        @if (item.IsCreatedByMe && item.SurveysFinished && item.ResturantId == 0)
                        {
                            <a class="btn btn-warning btn-sm" href="/home/picklunch/@item.LunchId">Pick Lunch</a>
                        }
                    </div>

                    <div>

                        @if (item.LunchPast)
                        {
                            <div class="text-muted col-md-offset-1">
                                <strong>@item.MeetingTime.ToShortTimeString()</strong> on <span>
                                    @item.MeetingTime.ToString("ddd, MMM dd")
                                </span>
                                @if (item.ResturantId != 0)
                                {
                                    <span>
                                        at <a href="/home/resturantdetails/@item.ResturantId"> @item.ResturantName</a>
                                    </span>
                                }
                                <small>Surveys Finished: @item.NumberOfSurveyFinished / @item.NumberOfSurveys </small>
                            </div>
                        }
                        @if (!item.LunchPast && item.IsCreatedByMe)
                        {
                            <div class="text-success col-md-offset-1">
                                <strong>@item.MeetingTime.ToShortTimeString()</strong> on <span>
                                    @item.MeetingTime.ToString("ddd, MMM dd")
                                </span>
                                @if (item.ResturantId != 0)
                                {
                                    <span>
                                        at <a href="/home/resturantdetails/@item.ResturantId"> @item.ResturantName</a>
                                    </span>
                                }
                                <small>Surveys Finished: @item.NumberOfSurveyFinished / @item.NumberOfSurveys </small>
                            </div>
                        }
                        @if (!item.LunchPast && !item.IsCreatedByMe)
                        {
                            <div class="col-md-offset-1">
                                <strong>@item.MeetingTime.ToShortTimeString()</strong> on <span>
                                    @item.MeetingTime.ToString("ddd, MMM dd")
                                </span>
                                @if (item.ResturantId != 0)
                                {
                                    <span>
                                        at <a href="/home/resturantdetails/@item.ResturantId"> @item.ResturantName</a>
                                    </span>
                                }
                                <small>Surveys Finished: @item.NumberOfSurveyFinished / @item.NumberOfSurveys </small>
                            </div>
                        }



                    </div>
                </div>
            }

        </div>

    </div>
</div>