@model IEnumerable<Lunch_App.Models.LunchDashboardVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="list-group">
            @foreach (var item in Model.OrderByDescending(x=>x.MeetingTime))
            {
                <div class="list-group-item">
                    <div class="pull-left">BADGE</div>
                    <div class="pull-right">BUTTONS</div>

                    <div>
                        @Html.DisplayFor(modelItem => item.LunchId)
                        @Html.DisplayFor(modelItem => item.MeetingTime)
                        @Html.DisplayFor(modelItem => item.ResturantName)
                        @Html.DisplayFor(modelItem => item.ResturantId)
                        @Html.DisplayFor(modelItem => item.NumberOfSurveys)
                        @Html.DisplayFor(modelItem => item.NumberOfSurveyFinished)
                        @Html.DisplayFor(modelItem => item.SurveysFinished)
                        @Html.DisplayFor(modelItem => item.IsCreatedByMe)
                        @Html.DisplayFor(modelItem => item.NeedsResponse)
                        @Html.DisplayFor(modelItem => item.SurveyId)
                        @Html.DisplayFor(modelItem => item.LunchToday)
                        @Html.DisplayFor(modelItem => item.LunchPast)




                    </div>
                </div>
            }

        </div>

    </div>
</div>