@model Lunch_App.Models.LunchPickVM

@{
    ViewBag.Title = "LunchConnect | Pick A Restaurant";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Where is your group going for lunch on @Model.MeetingDateTime.ToShortDateString()?</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(m => m.MeetingDateTime)

        <div class="form-group">
            <div>Here are your options based on the surveys for your group:</div>
            <br />
            @foreach (var p in Model.Picks)
            {
                <div class="col-md-10 col-md-offset-2 Pick">
                    <label>
                        @Html.RadioButtonFor(model => model.SelectedId, p.Id)
                        @p.Name (<small>@p.Location, @p.LocationZip  Cuisine: @p.CuisineType</small>)
                </label>
            </div>
            }
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="It's a plan, send those notices!" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("LunchConnect Dashboard", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
