@model Lunch_App.Models.ResturantDetailVM

@{
    ViewBag.Title = "Resturant Details - Lunch App";
}

<h2>Resturant Details for @Model.Name</h2>

<div>
    <hr/>
    <div class="row ResturantInfo">
        <div class="Location col-md-8">
            <div>@Model.Location, @Model.LocationZip</div>
            @*google map link?*@
            <div>@Model.Website</div>
        </div>

        <div class="HoursOfOperation col-md-4">
            <span class="bold">Hours of Operation:</span> @Model.HoursOfOperation
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h5 class="lead">Dietary Issues Accommodated by <span class="bold">@Model.Name</span></h5>
            @if (Model.Vegan)
            {
                <div class="DietaryOption col-md-2">Vegan</div>
            }
            @if (Model.Vegetarian)
            {
                <div class="DietaryOption col-md-2">Vegetarian</div>
            }
            @if (Model.ShellFishAllergy)
            {
                <div class="DietaryOption col-md-3">Shellfish Alleries</div>
            }
            @if (Model.GlutenFree)
            {
                <div class="DietaryOption col-md-2">Gluten Free</div>
            }
            @if (Model.NutAllergy)
            {
                <div class="DietaryOption col-md-2">Nut Alleries</div>
            }
            @if (Model.LactoseIntolerant)
            {
                <div class="DietaryOption col-md-3">Lactose Intolerance</div>
            }

            @if (Model.Kosher)
            {
                <div class="DietaryOption col-md-2">Kosher</div>
            }
            @if (Model.Halaal)
            {
                <div class="DietaryOption col-md-2">Halaal</div>
            }

        </div>

    </div>
</div>

<br />

<span class="col-md-12">
    @Html.ActionLink("Back Home", "Index")
</span>

<br />
