@model Lunch_App.Models.LunchCreationVM

@{
    ViewBag.Title = "New Lunch Group";
}

<h2>Make a new lunch plan!</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Make a New Lunch!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MeetingTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Choose the members of your lunch group:</div>
            <div class="col-md-10">
                @for (int i = 0; i < Model.Members.Count; i++)
                {
                    @Html.HiddenFor(x=>x.Members[i].Id)
                    @Html.CheckBoxFor(x=>x.Members[i].IsChecked)
                    @Model.Members[i].Handle 
                    @Model.Members[i].Email 
                    <br/>
                
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
