@model Lunch_App.Models.LunchVM

@{
    ViewBag.Title = "Lunch Details";
}

<h2>Details</h2>

<div>
    <h4>Lunch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lunch Time: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingDateTime)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            Resturant:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resturant.Name)
            @Html.DisplayFor(model => model.Resturant.Location)
            @Html.DisplayFor(model=>model.Resturant.Website)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            Organized by:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Handle)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            Contact Organizer at:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Email)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            Lunch Members:
        </dt>

        @foreach (var m in Model.Members)
        {
            <dd>
                @Html.DisplayFor(p=>m.Handle)
            </dd>
        }

    </dl>
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
