@model Lunch_App.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFinished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinutesAvailiable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinutesAvailiable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCodeRadius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCodeRadius)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuisineWanted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineWanted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuisineNotWanted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineNotWanted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiataryIssues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiataryIssues)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
